diffusers
imageio==2.22.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.23.5
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.11.0
torchvision==0.13.1+cu113
tornado==6.2
tqdm==4.64.1
transformers==4.25.1
xformers @ git+https://github.com/facebookresearch/xformers.git@e773f9dd362e64b810ac8597010169a2fa44b1db
